@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282828;
}

div.wrapper {
  max-width: 1280px;
}

.main-color {
  color: #00df8e;
}

.secondary-color {
  color: #00c1df;
}

.active.navlink {
  color: #00915c;
}

.glow-text {
  text-shadow: 0 0 4px rgba(219, 180, 255, 0.5); /* Adjust the values as needed */
}

.user-message {
  align-self: flex-end;
  background-color: rgb(2, 44, 34);
}

.message {
  word-wrap: break-word;
}

.message-box {
  width: 47%;
}

.background-pattern {
  --s: 40px;
  --c1: #353535;
  --c2: #303030;

  --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
    var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
    var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
  background: radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);

  /* background: linear-gradient(
      45deg,
      transparent 34%,
      #383838 35%,
      #383838 40%,
      transparent 41%,
      transparent 59%,
      #383838 60%,
      #383838 65%,
      transparent 66%
    ),
    linear-gradient(
      135deg,
      transparent 34%,
      #383838 35%,
      #383838 40%,
      transparent 41%,
      transparent 59%,
      #383838 60%,
      #383838 65%,
      transparent 66%
    );
  background-size: 2em 2em;
  background-color: #343434;
  opacity: 1; */
}

/* h1 {
  color: #696969
} */
