@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(40, 40, 40);
}

div.wrapper {
  max-width: 1280px;
}

.main-color {
  color: #00df8e;
}

.secondary-color {
  color: #00c1df;
}

.active.navlink {
  color: #00915c;
}

.glow-text {
  text-shadow: 0 0 4px rgba(219, 180, 255, 0.5); /* Adjust the values as needed */
}
